In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("studentscsv.csv")
df2 = pd.read_json("studentsjson.json")

In [3]:
df4 = df1.merge(df2, how='outer')

In [4]:
print(df4)

     Student ID First Name   Last Name Country  Student Number  Grade  Status  \
0         13001        Ora       Klein      ES           13001      9  Active
1         13002     Beulah    McMillan      US           13002     10  Active
2         13003   Florence       Stark      UK           13003     12  Active
3         13004       Noah  Gilbertson      ES           13004      9  Active
4         13005       Erna      Parker      ES           13005     11  Active
..          ...        ...         ...     ...             ...    ...     ...
181       14097     Mignon     Redmond      ES          150994      9  Active
182       14098    Caritta     Belldas      US          150995      9  Active
183       14099      Susan        Tjon      US          150991      7  Active
184       14100     Nadine       Shama      ES          150992     10  Active
185       14101    Beatriz       Eiser      CA          150993      8  Active

      Birthdate  Graduation Year  Age             Career
0     10/3/1999             2019   23           Business
1     18/4/1999             2018   23            Finance
2     20/5/1999             2016   23        Mathematics
3     19/8/1999             2019   23          Chemistry
4      9/1/2000             2017   22       Psychiatrist
..          ...              ...  ...                ...
181  14/12/2002             2017   19  Political_Science
182   22/7/2003             2020   19     Communications
183  19/10/2003             2018   18       Biochemistry
184  31/10/2003             2020   18           Business
185  24/12/2003             2017   18          Chemistry

[186 rows x 11 columns]